.account-login__content {
    display: flex;
    cursor: pointer;
}

.account-login__content-register {
    border: none;
    background-color: #fff;
    font-size: 14px;
    color: #00000040;
    margin-right: 1vw;
    cursor: pointer;
}

.account-login__content-login {
    background-color: var(--color_additional_Light-Cyan);
    border-radius: 5px;
    border: none;
    margin-left: 1vw;
    font-weight: 500;
    cursor: pointer;
    height: 26px;
    width: 65px;
}

.account-login__user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account-login__name-exit {
    margin-left: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.account-login__name-exit p{
    font-size: 14px;
    color: #000000;
    margin: 0;
}

.account-login__name-exit_exit {
    font-size: 10px;
    color: #00000040;
}

.account-login__name-exit_photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    /* border: 2px solid #000; */
    background-color: #dbdbdb;
    margin-left: 1vw;
}