.general-summary{
    /* border: 2px solid #f20b0b; */
    margin: 0vw 2vw;
}

.general-summary_p {
    font-size: 30px;
    font-family: var(--font-ferry);
    margin: 1vw 3vw;
} 

.general-summary span {
    font-size: 18px;
    color: #00000091;
    margin: 0 3vw;
} 

.general_summary__table {
    /* border: 2px solid #c8f20b; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1vw;
}

.general_summary__table-block {
    border: 3px solid var(--color_main_Dark-Cyan);
    height: 158px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}

.general_summary__table-block-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color_main_Dark-Cyan);
    

}

.general_summary__table-block-main p{
    font-size: 20px;
    color: var(--color_main_white);
    margin: 0 1.5vw;
}

.general_summary__table-block-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 2px solid #0000004b;;
}

.general_summary__table-block-content p{
    font-size: 20px;
    margin: 0 1.5vw;
}
