.footer {
  background-color: var(--color_main_Dark-Cyan);
  height: 137px;
  display: flex;
  padding: 0px 6vw;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__contact {
  display: flex;
  font-size: 14px;
  color: var(--color_main_white);
  flex-direction: column;
  align-items: flex-end;
}
.footer__contact p {
  margin: 2px;
}